/*
barre d'accueil
*/
.barreAccueil {
    background-color: #2980B9;
    padding-left: 100px;
    padding-right: 20px;
    overflow: auto;
    display: block;
}

.barreAccueil button {
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    text-decoration: none;
    background-color: #2980B9;
    border: none;
}

#VeMo {
    font-size: 150%;
    padding: 10px;
}

#Accueil {
    background-color: #01579B;
    padding: 16px 8px;
}

.globeButton {
    background-color: #2980B9;
    padding: 16px;
    float: right;
    border: none;
}

.globeButton:hover {
    background-color: #01579B;
}

/*
onglets
*/
.container-fluid {
    padding: 20px;
}

.container-fluid a {
    background-color: #eee;
}

.nav-tabs a {
    cursor: pointer;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #fff !important;
    background-color: #27AE60 !important;
    border-color: #27AE60 !important;
}

.contenu-onglet {
    padding-left: 20px;
}

/*
barre de recherche
*/
#recherche {
    border-right: 1px solid #ddd;
    height: 180px;
    margin-top: 20px;
}

/*
carte des stations
*/
#map {
    margin: 5px;
    height: 275px;
}

/*
liste des stations
*/
#listeStations{
    color: #555;
}

form{
    
    color: white !important;
}
